.hero{
    .container{
        .title{
            padding-bottom : 20px;
        }
    .card{
    width: 100%;
     display: flex;
     justify-content: space-between;    
        .property-img-details{
            width: 400px;
            border: 1px solid lightgray;
            .bedroom-img{
                width: 100%;
                height: 200px;
            }
         
        }
    }
    }
}