.main{
    margin: 0;
    padding: 0;
    .header{
       width: 100%;
       max-width: 1440px;
       margin: 0 auto;
        .inner-header{
            width: 100%;
            display: flex;
            align-items: center;
            padding: 10px;
            .humburg-menu{
                display: none;
                color: orange;
                font-size: 24px;
                cursor: pointer;
            }
            
        .logo{
           width: 165px;
            padding: 10px 30px;
            box-sizing: border-box;
            display: flex;
            .logo-img{
                width: 100%;
                cursor: pointer;
            }
        }
        .navbar{
            width: 100%;
            // max-width: 1400px;
        
            .nav-links{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: gray;
                .navigation-links{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }
        .profile-icon{
            display: none;
            font-size: 20px;
            color: gray;
            cursor: pointer;
        }
        .sign-in{
            width: 12%;
            display: flex;
            justify-content: flex-end;
            color: gray;
            .text{

                cursor: pointer;
            }
        }
    }
    


}
}



 
@media  screen and (max-width: 1244px) {
    .inner-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px !important;
        border: 1px solid rgb(140, 139, 139);
    }

    .humburg-menu{
        display: block !important;
    }
    .logo{
        width: 100px !important;
      padding: 0px !important;

    }
    .logo-img{
        width: 100%;
    }
   .sign-in{
    display: none !important;
   }
   .profile-icon{
    display: block !important;
    font-size: 24px;
        color: gray;
   }
    .navbar{
        display: none;
    }
}


@media screen and (max-width: 768px){
        .inner-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 30px !important;
            border: 1px solid lightgray;
        }
    
        .humburg-menu{
            display: block !important;
        }
        .logo{
            width: 100px !important;
          padding: 0px !important;

        }
        .logo-img{
            width: 100%;
        }
       .sign-in{
        display: none !important;
       }
       .profile-icon{
        display: block !important;
        font-size: 24px;
            color: gray;
       }
        .navbar{
            display: none;
        }
      
    }

    @media screen and (max-width: 320px){
        .logo{
            width: 100%;
           text-align: center;
         display: flex;
         justify-content: center !important;
        }
        .humburg-menu {
            display: none !important;
        }
        .sign-in{
            display: none !important;
        }
    }
    @media screen and (max-width: 375px){
        .humburg-menu {
            display: block !important;
        }
        .sign-in{
            display: none !important;
        }
    }