*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body::-webkit-scrollbar {
    width: 10px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(223, 131, 26), rgb(227, 150, 7), rgb(235, 192, 53));
    outline: 1px solid rgb(233, 191, 76);
    
  }


.container{
    width: 100%;
    padding: 20px;
}
.flex{
    display: flex;
}
.justify--content_space-between{
    justify-content: space-between;
}
.align--items_center{
    align-items: center;
}

.m--0-auto{
    margin: 0 auto;
}    

.li--style-none{
    list-style-type: none;
}    

.font--size-md{
    font-size: 28px;
}    

.p--10{
    padding: 10px;
}

.d--none{
    display: none;
}
.d--block{
    display: block;
}
.overflow--hidden{
    overflow: hidden;
}

.error{
    color: red;
}

.sidebar{
    width: 100%;
    min-height: 100vh;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
    background-color: #fff;
    position: fixed;
    top: 0%;
    left: -100%;
    z-index: 1;
    transition: 0.5s;
   
}
.sidebar.active{
    left: 0;
}
.sd-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.close-btn{
    font-size: 24px;
    color: orange;
    cursor: pointer;
}

.services{
    border-bottom: 0.5px solid gray;
}
.services-list{
    display: flex;
    flex-direction: column;
}

.others{
    padding: 20px;
    color: gray;
}

.other-links{
    padding: 9px 5px;
}

.link--list{
    padding: 10px;
    display: flex;
    width: 100%;
    color: gray;
    font-size: 18px;
}
.home-icon{
    padding: 0px 15px;
    // width: 100%;
}


